

:root {
    --width: 90%;
}
@media (max-width: 1200px) {

    .video-section__slider {
        width: 50%;
    }
    .video-section__quote {
        width: 50%;
    }
    .video-section__quote--main-text {
        font-size: 35px;
        line-height: 50px;
    }
    .video-section__quote--name-text {
        font-size: 42px;
        line-height: 70px;
    }
    .video-section__quote-text {
        font-size: 25px;
        line-height: 35px;
        width: 100%;
    }
    .career-section__headline {
        font-size: 41px;
        line-height: 51px;
    }
    .career-section__description, .career-section__subtext {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 768px) {
    
    .guidance-title{
        font-size: 2rem;
        line-height: 2.75rem;
    }

    .navbar__logo {
        font-size: 1.1rem;
    }
    .navbar__button {
    padding: 0.25rem 0.5rem;;
    font-size: 9px;
    }

    .video-section__quote--main-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .video-section__quote--name-text {
        font-size: 2rem;
        line-height: 3rem;
    }
    .video-section__quote-text {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.8rem;
        padding-top: 1rem;
        
    }
    .video-section__quote-symbol {
        font-size: 1.5rem;
    }

    .video-section__content {
        flex-direction: column;
    }
    .video-section__slider, .video-section__quote {
        width: 100%;
    }



    .testimonial__sidebar {
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
        writing-mode: lr;
        transform: rotate(0deg);
    }
    .testimonial__subtitle{
        font-size: 12px;
        line-height: 15px;
    }
    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .career-section {
        flex-direction: column;
        gap: 2rem;
    }
    .career-section__content,.career-section__card-container  {
        width: 100%;
    }

  

    .testimonial__content {
        /* grid-template-columns: 1fr; */
        display: block;
        width: 100%;
    }

    .testimonial__video-section video,.testimonial__video-section iframe {
        height: 420px !important;
        min-width: 100% !important;
    }

    .testimonial__info h2 {
        font-size: 20px;
    }

    .testimonial__info h3 {
        font-size: 18px;
    }

    .testimonial__info p {
        font-size: 13px;
        width: 100%;
    }

    .thumbnail {
        width: 90px;
        height: 140px;
    }
    .testimonial__info {
        gap: 0.5rem;
    }

    .counselling__form-Maincontainer {
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
    }
    .career-section__headline {
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .career-section__description,
    .career-section__subtext {
    font-size: 1rem;
    line-height: 1.5rem;
}
.section-iim__title--highlight {
    font-size: 4rem;
}
.section-iim__title {
    font-size: 2rem;
}

.swiper-testimonials {
    /* max-width: 100%; */
}

}

/* Small mobile devices */
@media (max-width: 480px) {
    .info-section {
        flex-direction: column;
        gap: 1.5rem;
    }
    .info-divider{
        display: none;
    }


    .testimonial__info h2 {
        font-size: 2rem;
        line-height: 49px;
    }

    .testimonial__info h3 {
        font-size: 1.25rem;
        line-height: 33px;
    }

    .testimonial__info p {
        font-size: 12px;
        width: 100%;
    }

    /* .thumbnail {
        width: 50px;
        height: 50px;
    } */
}



