

:root {
    --width: 90%;
}


@media (max-width: 768px) {
    
    .guidance-title{
        font-size: 2rem;
    }

    .navbar__logo {
        font-size: 1.2rem;
    }

    .video-section__quote--main-text {
        font-size: 1.5rem;
    }
    .video-section__quote--name-text {
        font-size: 2rem;
    }
    .video-section__quote-text {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
        
    }

    .video-section__content {
        flex-direction: column;
    }
    .video-section__slider, .video-section__quote {
        width: 100%;
    }



    .testimonial__sidebar {
        font-size: 24px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
        writing-mode: lr;
        transform: rotate(0deg);
    }
    .testimonial__subtitle{
        font-size: 12px;
    }
    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .career-section {
        flex-direction: column;
        gap: 2rem;
    }
    .career-section__content,.career-section__card-container  {
        width: 100%;
    }

  

    .testimonial__content {
        /* grid-template-columns: 1fr; */
        display: block;
        width: 100%;
    }

    .testimonial__video-section video {
        height: 420px;
        width: 100%;
    }

    .testimonial__info h2 {
        font-size: 20px;
    }

    .testimonial__info h3 {
        font-size: 18px;
    }

    .testimonial__info p {
        font-size: 13px;
        width: 100%;
    }

    .thumbnail {
        width: 90px;
        height: 140px;
    }
    .testimonial__info {
        gap: 0.5rem;
    }

    .counselling__form-Maincontainer {
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
    }
    .career-section__headline {
        font-size: 1.75rem;
    }
    .career-section__description,
    .career-section__subtext {
    font-size: 1rem;
}
.section-iim__title--highlight {
    font-size: 4rem;
}
.section-iim__title {
    font-size: 2rem;
}
}

/* Small mobile devices */
@media (max-width: 480px) {
    .info-section {
        flex-direction: column;
        gap: 1.5rem;
    }
    .info-divider{
        display: none;
    }


    .testimonial__info h2 {
        font-size: 2rem;
    }

    .testimonial__info h3 {
        font-size: 1.25rem;
    }

    .testimonial__info p {
        font-size: 12px;
        width: 100%;
    }

    /* .thumbnail {
        width: 50px;
        height: 50px;
    } */
}

